body {
  text-align: center;
  font-family: Arial;
}

#board {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  width: 306px;
  margin: 0 auto;
  gap: 2px;
}

.cell {
  height: 100px;
  font-size: 40px;
}

#reset {
  margin-top: 15px;
  padding: 8px 16px;
}